<h2 class="text-center">Modification train</h2>
<form
  [formGroup]="trainForm"
  (ngSubmit)="onSubmitForm()">
  <table class="user-full-width">
    <tr>
      <td>
        <label>Numero du train</label>
        <input matInput class="form-control" placeholder="Numero du train"
               id="numTrain" formControlName="numTrain" required
        />
      </td>
      <td>
        <label>Ville de départ</label>
        <input matInput class="form-control" placeholder="Ville de départ"
               id="villeDepart" formControlName="villeDepart" required
        />
      </td>
    </tr>
  </table>
  <table class="user-full-width">
    <tr>
      <td>
        <label>Ville d'arrivée</label>
        <input matInput class="form-control" placeholder="Ville d'arrivée"
               id="villeArrivee" formControlName="villeArrivee" required type="text"
        />

      </td>
    </tr>
    <tr>
      <td>
        <label>Heure de Depart</label>
        <input matInput class="form-control" placeholder="Heure de Depart"
               id="heureDepart" formControlName="heureDepart" required type="number" min="1"
        />
      </td>
    </tr>
    <tr>
      <td>
        <label>Nombre de places</label>
        <input matInput class="form-control" placeholder="Nombre de places"
               id="places" formControlName="places" required type="number" min="1"
        />
      </td>
    </tr>
  </table>
  <div style="display:flex; justify-content:flex-end;">
    <button type="submit" mat-stroked-button color="primary">
      Valider
    </button>
  </div>
</form>
