<mat-toolbar color="primary">
  <div>
<!--    <div fxHide.gt-xs>-->
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <!--fxHide.xs-->
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
          <li>
              <a routerLink="/users"><span class="material-icons" title="Compte">account_circle</span></a>
          </li>
          <li>
            <a routerLink="/add"><span class="material-icons" title="add_citation">Poster une citation</span></a>
          </li>
          <li *ngIf="isLogged else notLogged">
            <a (click)="logout()" title="Déconnexion"><span class="material-icons text-danger">logout</span></a>
          </li>
          <ng-template #notLogged>
            <li>
              <a routerLink="/login" title="Connexion"><span class="material-icons text-success">login</span></a>
            </li>
          </ng-template>


      </ul>
  </div>
</mat-toolbar>
